{
  "plugins": [
    ["styled-jsx/babel", {"plugins": ["@styled-jsx/plugin-sass"]}],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }]
  ]
}
